Repository heybereket/oasis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW, @samarmohan, @SamJakob

feat(ui): UI setup with rollup
  packages/api/schema.gql
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/components/SayHello.module.css
  packages/ui/src/components/SayHello.tsx
  packages/ui/src/components/declaration.d.ts
  packages/web/src/pages/index.tsx
  yarn.lock
Owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW, @samarmohan

feat(dev-scripts): `yarn dev` will now build the ui in watch mode
  package.json
  yarn.lock
Owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW

fix(ui): eslint config
  packages/ui/.eslintrc.json
  packages/ui/src/globals.d.ts
Owners: @samarmohan

feat(ui/web): fix bugs and some errors and format
  packages/api/schema.gql
  packages/api/src/index.ts
  packages/api/src/test-utils/graphqlCall.ts
  packages/api/src/test-utils/setup.ts
  packages/api/src/test-utils/testConn.ts
  packages/web/src/icons/arrows/DownArrow.tsx
  packages/web/src/icons/arrows/RightArrow.tsx
  packages/web/src/icons/arrows/SmallDownArrow.tsx
  packages/web/src/icons/arrows/SmallUpArrow.tsx
  packages/web/src/icons/index.tsx
  packages/web/src/icons/navbar/About.tsx
  packages/web/src/icons/navbar/Bell.tsx
  packages/web/src/icons/navbar/Friends.tsx
  packages/web/src/icons/navbar/Home.tsx
  packages/web/src/icons/navbar/Logout.tsx
  packages/web/src/icons/navbar/Posts.tsx
  packages/web/src/icons/navbar/Profile.tsx
  packages/web/src/icons/navbar/Saved.tsx
  packages/web/src/icons/navbar/Search.tsx
  packages/web/src/icons/navbar/Topics.tsx
  packages/web/src/icons/posts/Comments.tsx
  packages/web/src/icons/posts/Like.tsx
  packages/web/src/icons/social/Twitter.tsx
  packages/web/src/lib/login/AuthProvider.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/user/[username]/index.tsx
  packages/web/src/utils/hooks/useOnClickOutside.tsx
Owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW

fix(web): fix vscode auth page (no gui yet) and add apiBaseURL
  packages/web/src/lib/common/apolloClient.ts
  packages/web/src/lib/constants.ts
  packages/web/src/pages/auth/vscode.tsx
Owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW

feat(vsc-ext): Add auth
  package.json
  packages/api/package.json
  packages/api/schema.gql
  packages/api/src/entities/User.ts
  packages/api/src/index.ts
  packages/api/src/modules/auth/index.ts
  packages/api/src/modules/auth/vscode.ts
  packages/api/src/utils/auth/createContext.ts
  packages/bot-client/package.json
  packages/bot-client/src/index.ts
  packages/ui/package.json
  packages/vsc-extension/.gitignore
  packages/vsc-extension/out/Sidebar.js
  packages/vsc-extension/out/Sidebar.js.map
  packages/vsc-extension/out/extension.js
  packages/vsc-extension/out/extension.js.map
  packages/vsc-extension/package.json
  packages/vsc-extension/server/.gitignore
  packages/vsc-extension/server/package.json
  packages/vsc-extension/server/src/index.ts
  packages/vsc-extension/server/tsconfig.json
  packages/vsc-extension/server/yarn.lock
  packages/vsc-extension/src/Sidebar.ts
  packages/vsc-extension/src/extension.ts
  packages/vsc-extension/src/keys.ts
  packages/vsc-extension/tsconfig.json
  packages/vsc-extension/vsc-ui/src/App.tsx
  packages/vsc-extension/vsc-ui/src/vscode.ts
  packages/web/package.json
  packages/web/src/pages/auth/vscode.tsx
  yarn.lock
Owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW, @samarmohan

fix(vsce): remove mocha testing
  packages/vsc-extension/out/test/runTest.js
  packages/vsc-extension/out/test/runTest.js.map
  packages/vsc-extension/out/test/suite/extension.test.js
  packages/vsc-extension/out/test/suite/extension.test.js.map
  packages/vsc-extension/out/test/suite/index.js
  packages/vsc-extension/out/test/suite/index.js.map
  packages/vsc-extension/package.json
  packages/vsc-extension/src/test/runTest.ts
  packages/vsc-extension/src/test/suite/extension.test.ts
  packages/vsc-extension/src/test/suite/index.ts
  yarn.lock
Owners: @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW

feat(ui): Moved everything to ui
  packages/ui/src/components/common/Footer.tsx
  packages/ui/src/components/post/Post.tsx
  packages/ui/src/components/profile/Bio.tsx
  packages/ui/src/components/resort/ResortHeader.tsx
  packages/ui/src/index.ts
  packages/web/src/components/common/SEOProvider.tsx
  packages/web/src/components/markdown/OasisDark.tsx
  packages/web/src/components/markdown/StyledMarkdown.module.css
  packages/web/src/components/markdown/StyledMarkdown.tsx
  packages/web/src/components/markdown/StyledMarkdownBio.module.css
  packages/web/src/components/markdown/StyledMarkdownPost.module.css
  packages/web/src/components/markdown/emojiParser.ts
  packages/web/src/components/markdown/emojis.json
  packages/web/src/pages/index.tsx
  packages/web/src/pages/resort/[resort]/index.tsx
  packages/web/src/pages/user/[username]/index.tsx
Owners: @samarmohan, @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW

feat(ui): Fixed navbar auth
  packages/ui/src/components/navbar/Navbar.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/resort/[resort]/index.tsx
  packages/web/src/pages/resort/index.tsx
  packages/web/src/pages/user/[username]/index.tsx
  packages/web/src/pages/user/edit.tsx
Owners: @samarmohan, @heybereket, @HenryLeC, @Angshu31, @f1shy-dev, @alexover1, @BronzW

.github/CODEOWNERS:

* @heybereket @HenryLeC @Angshu31 @f1shy-dev @alexover1 @BronzW
/packages/ui/ @samarmohan
/packages/setup/ @SamJakob
/assets/ @SamJakob
