Repository heybereket/oasis, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, web, api

.github/labeler.yml:

translation:
  - packages/web/public/locales/**/*
web:
  - packages/web/**/*
api:
  - packages/api/**/*

removed console logs
  packages/web/src/components/common/Modal.tsx
  packages/web/src/pages/index.tsx
Labels: web

removed console logs
  packages/web/src/lib/constants.ts
Labels: web

bruh what is dumb.rdb
  dump.rdb
Labels: none

chore(global): github mixed up?
  dump.rdb
Labels: none

fix(web): babel error?
  packages/web/package.json
  yarn.lock
Labels: web

fix(global): fix a million random things
  packages/ui/package.json
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/SayHello.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/yarn.lock
Labels: none

feat(ui): init ui package (#265)
  packages/ui/.eslintignore
  packages/ui/.eslintrc.json
  packages/ui/.gitignore
  packages/ui/.prettierignore
  packages/ui/.prettierrc.js
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/components/SayHello.tsx
  packages/ui/src/index.css
  packages/ui/src/index.ts
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
Labels: none

fix(web): actually fix the navbar
  dump.rdb
  package.json
  packages/web/package.json
  packages/web/src/components/navbar/Navbar.tsx
  packages/web/src/pages/index.tsx
  yarn.lock
Labels: web

fix(web): add @babel/runtime
  packages/web/package.json
  yarn.lock
Labels: web

fix(global): change oasis to oasis-sh
  ecosystem-prod.config.js
  ecosystem-staging.config.js
  packages/app/package.json
Labels: none

fix(global): build files
  ecosystem-prod.config.js
  ecosystem-staging.config.js
Labels: none

chore(global): testing build
  packages/api/.env.example
Labels: api

fix(workflows): remove workflow_dispatch
  .github/workflows/dev_deploy.yml
Labels: none

chore(ui): version number
  packages/ui/package.json
Labels: none

feat(ui): add cra-typescript example
  packages/ui/examples/cra-typescript/.gitignore
  packages/ui/examples/cra-typescript/README.md
  packages/ui/examples/cra-typescript/package.json
  packages/ui/examples/cra-typescript/public/favicon.ico
  packages/ui/examples/cra-typescript/public/index.html
  packages/ui/examples/cra-typescript/public/logo192.png
  packages/ui/examples/cra-typescript/public/logo512.png
  packages/ui/examples/cra-typescript/public/manifest.json
  packages/ui/examples/cra-typescript/public/robots.txt
  packages/ui/examples/cra-typescript/src/App.css
  packages/ui/examples/cra-typescript/src/App.test.tsx
  packages/ui/examples/cra-typescript/src/App.tsx
  packages/ui/examples/cra-typescript/src/index.css
  packages/ui/examples/cra-typescript/src/index.tsx
  packages/ui/examples/cra-typescript/src/logo.svg
  packages/ui/examples/cra-typescript/src/react-app-env.d.ts
  packages/ui/examples/cra-typescript/src/reportWebVitals.ts
  packages/ui/examples/cra-typescript/src/setupTests.ts
  packages/ui/examples/cra-typescript/tsconfig.json
  packages/ui/examples/cra-typescript/yarn.lock
Labels: none

chore(global): add build:ui and build:dev script
  package.json
Labels: none

fix(web): Fixed Navbar, Modal (#268)
  packages/api/src/entities/User.ts
  packages/web/src/components/common/Modal.tsx
  packages/web/src/components/navbar/Navbar.tsx
  packages/web/src/lib/constants.ts
  packages/web/src/pages/index.tsx
  packages/web/src/utils/hooks/useOnClickOutside.tsx
Labels: web, api

fix(global): remove nohoist [deprecated]
  package.json
Labels: none

fix(web): modal CloseHandler()
  packages/web/src/components/common/Modal.tsx
  packages/web/src/pages/index.tsx
Labels: web

fix(global); add packages/ui as a workspace
  dump.rdb
  package.json
Labels: none

fix(web): fix layout (again), for real this time
  dump.rdb
  packages/web/src/pages/index.tsx
  packages/web/src/styles/globals.css
Labels: web

chore(api): Extract files to folders
  packages/api/src/modules/badge/GiveBadge.resolver.ts
  packages/api/src/modules/badge/make/MakeBadge.resolver.ts
  packages/api/src/modules/badge/make/MakeBadgeInput.ts
  packages/api/src/modules/comment/edit/EditComment.resolver.ts
  packages/api/src/modules/comment/edit/EditCommentInput.ts
  packages/api/src/modules/post/edit/EditPost.resolver.ts
  packages/api/src/modules/post/edit/EditPostInput.ts
  packages/api/src/modules/post/new/NewPost.resolver.ts
  packages/api/src/modules/post/new/NewPostInput.ts
  packages/api/src/modules/resort/create/CreateResort.resolver.ts
  packages/api/src/modules/resort/create/CreateResortInput.ts
  packages/api/src/modules/user/update-profile/UpdateProfile.resolver.ts
  packages/api/src/modules/user/update-profile/UpdateProfileInput.ts
Labels: api

feat(ui): button!
  package.json
  packages/ui/examples/cra-typescript/package.json
  packages/ui/examples/cra-typescript/src/App.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/SayHello.tsx
  packages/ui/src/index.ts
  yarn.lock
Labels: none

chore(ui): version num
  packages/ui/package.json
Labels: none

chore(global): version num (build)
  packages/ui/package.json
Labels: none

fix(ui + web): remove @types/react for @types/react-dom
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Labels: web

fix(global): yarn + @types/react bug
  yarn.lock
Labels: none

chore(ui): remove examples, we dont need them right now
  packages/ui/examples/cra-typescript/.gitignore
  packages/ui/examples/cra-typescript/README.md
  packages/ui/examples/cra-typescript/package.json
  packages/ui/examples/cra-typescript/public/favicon.ico
  packages/ui/examples/cra-typescript/public/index.html
  packages/ui/examples/cra-typescript/public/logo192.png
  packages/ui/examples/cra-typescript/public/logo512.png
  packages/ui/examples/cra-typescript/public/manifest.json
  packages/ui/examples/cra-typescript/public/robots.txt
  packages/ui/examples/cra-typescript/src/App.css
  packages/ui/examples/cra-typescript/src/App.test.tsx
  packages/ui/examples/cra-typescript/src/App.tsx
  packages/ui/examples/cra-typescript/src/index.css
  packages/ui/examples/cra-typescript/src/index.tsx
  packages/ui/examples/cra-typescript/src/logo.svg
  packages/ui/examples/cra-typescript/src/react-app-env.d.ts
  packages/ui/examples/cra-typescript/src/reportWebVitals.ts
  packages/ui/examples/cra-typescript/src/setupTests.ts
  packages/ui/examples/cra-typescript/tsconfig.json
  packages/ui/examples/cra-typescript/yarn.lock
Labels: none

chore(api): remove unused imports
  packages/api/src/entities/Post.ts
Labels: api

chore(api): install nanoid
  packages/api/package.json
  yarn.lock
Labels: api

feat(api): Changed posts to use nanoid for ids
  packages/api/src/entities/Post.ts
  packages/api/src/modules/post/new/NewPost.resolver.ts
Labels: api

fix(api): use customAlphabet for nanoid
  packages/api/src/modules/post/new/NewPost.resolver.ts
Labels: api

feat(api): Added following to api
  packages/api/schema.gql
  packages/api/src/entities/User.ts
  packages/api/src/modules/user/follow/FollowResolver.resolver.ts
Labels: api

fix(web): align columns
  packages/web/src/pages/index.tsx
Labels: web

feat(ui): start moving web components over
  packages/ui/.eslintrc.json
  packages/ui/src/components/SayHello.tsx
  packages/ui/src/components/common/AuthProvider.tsx
  packages/ui/src/components/common/Button.tsx
  packages/ui/src/components/common/Container.tsx
  packages/ui/src/components/common/Footer.tsx
  packages/ui/src/components/common/FormikInput.tsx
  packages/ui/src/components/common/Input.tsx
  packages/ui/src/components/common/Modal.tsx
  packages/ui/src/components/common/SEOProvider.tsx
  packages/ui/src/components/resort/AvatarGroup.tsx
  packages/ui/src/components/resort/ResortCard.tsx
  packages/ui/src/components/resort/ResortHeader.tsx
  packages/ui/src/icons/arrows/DownArrow.tsx
  packages/ui/src/icons/arrows/RightArrow.tsx
  packages/ui/src/icons/arrows/SmallDownArrow.tsx
  packages/ui/src/icons/arrows/SmallUpArrow.tsx
  packages/ui/src/icons/navbar/About.tsx
  packages/ui/src/icons/navbar/Bell.tsx
  packages/ui/src/icons/navbar/Friends.tsx
  packages/ui/src/icons/navbar/Home.tsx
  packages/ui/src/icons/navbar/Logout.tsx
  packages/ui/src/icons/navbar/Posts.tsx
  packages/ui/src/icons/navbar/Profile.tsx
  packages/ui/src/icons/navbar/Saved.tsx
  packages/ui/src/icons/navbar/Search.tsx
  packages/ui/src/icons/navbar/Topics.tsx
  packages/ui/src/icons/posts/Comments.tsx
  packages/ui/src/icons/posts/Like.tsx
  packages/ui/src/icons/social/Twitter.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/hooks/useOnClickOutside.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/user/[username]/index.tsx
Labels: web

feat(ui): second round of moving web ui > packages/ui
  packages/ui/src/components/home/FollowUser.tsx
  packages/ui/src/components/home/FriendActivity.tsx
  packages/ui/src/components/home/Sidebar.tsx
  packages/ui/src/components/markdown/OasisDark.tsx
  packages/ui/src/components/markdown/StyledMarkdown.module.css
  packages/ui/src/components/markdown/StyledMarkdown.tsx
  packages/ui/src/components/markdown/StyledMarkdownBio.module.css
  packages/ui/src/components/markdown/StyledMarkdownPost.module.css
  packages/ui/src/components/navbar/DropdownItem.tsx
  packages/ui/src/components/navbar/NavItem.tsx
  packages/ui/src/components/navbar/Navbar.tsx
  packages/ui/src/components/profile/Bio.tsx
  packages/ui/src/components/profile/FollowersInfo.tsx
  packages/ui/src/components/profile/ProfileBanner.tsx
  packages/ui/src/components/profile/ProfilePost.tsx
  packages/ui/src/components/profile/TabItem.tsx
  packages/ui/src/components/profile/TopicBadge.tsx
  packages/ui/src/components/profile/large/UserCard.tsx
  packages/ui/src/components/profile/small/UserCard.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/common/apolloClient.ts
  packages/ui/src/lib/common/getCurrentUser.ts
  packages/ui/src/lib/common/ssrRequest.ts
  packages/ui/src/lib/constants.ts
  packages/ui/src/lib/emojiParser.ts
  packages/ui/src/lib/emojis.json
  packages/ui/src/lib/login/index.ts
  packages/ui/src/lib/postDate.ts
  packages/ui/src/lib/require.ts
  packages/web/src/pages/user/[username]/index.tsx
Labels: web

fix(web): align columns
  packages/web/src/pages/index.tsx
Labels: web

feat(web): Started to add following and dynamic follower count
  packages/client-gql/src/user.gql
  packages/web/src/components/profile/FollowersInfo.tsx
  packages/web/src/pages/user/[username]/index.tsx
Labels: web

fix: safari flex gap
  packages/web/src/components/profile/FollowersInfo.tsx
Labels: web

Delete js files
  packages/vsc-extension/vsc-ui/src/App.js
  packages/vsc-extension/vsc-ui/src/App.js.map
  packages/vsc-extension/vsc-ui/src/main.js
  packages/vsc-extension/vsc-ui/src/main.js.map
Labels: none
